.background-image {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('../images/background.png');
  /*background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  height: 100%;
  width: 100%;
  filter: blur(5px);

}
#p2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  margin-bottom: 25%;
  box-shadow: 1px 1px 5px black;
}

.home-index h1{
  text-align: center;
  font-family: 'Ubuntu', sans-serif !important;
  color: rgb(0, 164, 143);
  text-shadow: 0.1mm 0.4mm 4px gray;
}
div .login-state{
  text-align: center;
}
a[id$='page'] {
  cursor: pointer;
}
.style-layout .mdl-layout__header,
.style-layout .mdl-layout__drawer-button{
}

body{
  min-height: 100%;
}

footer{
  clear: both;
  position: relative;
  z-index: 10;
  /*height: 1px; */
  margin-top: -3px;
}
.home-title, .home-text {
  text-align: center;
  font-family: "Roboto", "Ubuntu", sans-serif;
  text-shadow: 0.2mm 0.2mm 4px gray
}
.home-title h4 {
  font-size: 0.3in;
  color: GRAY;
}
.home-text{
  margin-bottom: 120px;
}
.home-text p {
  font-size: 17px;
}
.bold {
  color: rgb(211, 163, 18);
  font-size: 23px;
  text-shadow: 0.2mm 0.2mm 2px #080808;
  position: relative;
  z-index: 5;
}
